mde-masonry {
  display: flex;
  flex-direction: column;

  mde-masonry-row {
    display: flex;
    flex-direction: row;

    mde-masonry-item {
      display: flex;
      flex: 1;

      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}
