h1 {
  background-color: #1e3666;
  color: white;
  margin: 0;
  line-height: 2em;
  padding: 0 20px;
}

:host > div {
  margin: 20px;
  .flex {
    display: flex;
    flex-direction: row;

    > div {
      padding: 20px;
      flex: 1;

      .option-row {
        margin: 20px 0;

        label {
          display: block;
        }
      }
    }
  }
}